python-dateutil~=2.8
python-keystoneclient~=5.0
python-novaclient~=18.1
python-neutronclient~=8.1
python-glanceclient<4.2

pyOpenSSL~=22.0.0
cryptography~=38.0.1
setuptools-rust~=1.1.2; python_version <= '3.6'
setuptools-rust~=1.5.1; python_version > '3.6'
