python-dateutil~=2.8
python-keystoneclient~=5.0
python-novaclient~=18.0
python-neutronclient~=7.8
python-glanceclient<4.1

pyOpenSSL~=22.0.0
cryptography~=37.0.4
setuptools-rust~=1.1.2; python_version <= '3.6'
setuptools-rust~=1.4.1; python_version > '3.6'
