[loggers]
keys=root

[handlers]
keys=stream,file

[formatters]
keys=file

[formatter_file]
format=%(asctime)s %(levelname)s %(processName)s %(message)s
datefmt=
class=logging.Formatter

[logger_root]
level=INFO
handlers=stream,file

[handler_stream]
class=logstash.TCPLogstashHandler
args=("{{ dest[0] }}", {{ dest[1] }}, "logstash", "{{ tags }}", True, 1)

[handler_file]
class=FileHandler
formatter=file
args=('{{logfile}}', 'a+')

