[DEFAULT]
# logging
log_dir = /var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova

# message bus
rabbit_host = {{ mqserver.host.name }}
rabbit_port = 5672
rabbit_userid = guest
rabbit_password = guest
rabbit_virtual_host = /

# Start more api instance to improve performance
osapi_compute_workers=8

# kvm options
libvirt_use_virtio_for_bridges=True

# database
sql_connection = mysql://{{ database.user }}:{{ database.password }}@{{ database.server.host.name }}/{{ database.name }}

# Auth configuration
use_deprecated_auth=false
auth_strategy=keystone
keystone_ec2_url=http://{{ keystone.host.ip }}:5000/v2.0/ec2tokens

# Image service
glance_api_servers={{ glance.host.ip }}:9292

# Vnc configuration
novnc_enabled=true
novncproxy_base_url=http://dnetcloud.cs.kuleuven.be:6080/vnc_auto.html
novncproxy_port=6080
vncserver_proxyclient_address=127.0.0.1
vncserver_listen=0.0.0.0

# Network settings
network_api_class=nova.network.neutronv2.api.API
neutron_url=http://{{ neutron.host.ip }}:9696
neutron_auth_strategy=keystone
neutron_admin_tenant_name=service
neutron_admin_username=quantum
neutron_admin_password=yoda_quantum
neutron_admin_auth_url=http://{{ neutron.host.ip }}:35357/v2.0

libvirt_vif_driver=nova.virt.libvirt.vif.LibvirtOpenVswitchVirtualPortDriver
linuxnet_interface_driver=nova.network.linux_net.LinuxOVSInterfaceDriver
security_group_api = neutron
firewall_driver = nova.virt.firewall.NoopFirewallDriver
service_neutron_metadata_proxy = True

# Compute #
compute_driver=libvirt.LibvirtDriver
metadata_host={{ host.public_ip }}
metadata_port=8775

# Cinder #
volume_api_class=nova.volume.cinder.API

# Disable fs tampering
libvirt_inject_password=false
libvirt_inject_key=false
libvirt_inject_partition=-2

# Use rbd as vm layer
libvirt_images_rbd_pool=volumes

# Schedule stuff
ram_allocation_ratio=1.5

